<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">CineMentality</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="movie.html">Search Movies<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="login.html">Member Login</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="signup.html">Sign Up</a>
            </li>
        </ul>


    </div>
</nav>


<div id="searchBarDiv">
    <h1>Welcome back <span class="userEmail">{{email}}</span>!!!!</h1>

    <h2>Start a movie search here...</h1>
    <br>
    <form>
        <input type="text" placeholder="Search..." id="searchbar">
        <button class="btn btn-outline-success my-2 my-sm-0" id="search-button" type="submit">Search</button>
    </form>
</div>
<br>
<br>

<div class="input-group mb-4 col-12" id="current-movie">

    <div class="col-md-3 col-md-offset-3"></div>

    <div class="col-md-3 col-md-offset-3">
        <div id="movieAreaOne">
        </div>
    </div>

    <div class="col-md-3 col-md-offset-3">
        <div id="movieAreaTwo">
        </div>
    </div>

    <div class="col-md-3 col-md-offset-3"></div>

</div>

<!-- Footer -->
<footer class="page-footer font-small blue">

    <div class="footer-copyright text-center py-3">Project By:
        <a href="https://github.com/carooflee" target="_blank" id="foot">
            Caroline
        </a>
        <a href="https://github.com/audijej" target="_blank" id="foot">
            Jesse
        </a>
        <a href="https://github.com/josephbrimeyer" target="_blank" id="foot">
            Joe
        </a> </div>

</footer>
<!-- Footer -->