.flex-grid {
    display: flex;
  }
  
  .col {
    flex: 1;
  }

/* 
   body{
        background: white;
        color: black;
        padding:20px;
        letter-spacing: 5px;
        font-family: Arial, Helvetica, sans-serif;
      } */
  
  .container {
   justify-content: center;
  }
  
    .form-control {
        column-width: 50px;
    }
      .tile{
        height:200px;
        width:200px;
        float:left;
        margin:5px 5px 5px 5px;
        padding:2px;
        font-size: 48px;
        line-height: 45px;
        letter-spacing: 5px;
        color: #ECF0F1;
      }
      /* section {
        display: inline-block;
        float: left;
    }   */
   
    /* .col {
      display: table-row;
    } */
   
  
      input {
        padding: 10px 15px;
        border: none;
        outline: none;
        max-width: 650px;
        border-radius: 16px 0px 16px 0px
        }
      
      * {
          box-sizing: border-box;
        }
  
        /* Remove extra left and right margins, due to padding */
        .row {
          margin: 0px 5px;
          float: left;
        }
  
        /* Responsive columns */
        @media screen and (max-width: 600px) {
          .column {
            width: 100%;
            display: block;
            margin-bottom: 20px;
            height: auto;
          }
         
          p {
            font-size: 5vw;
            float: left;
          }
          h3 {
            font-size: 4vw;
            color: black;
          }
        }
  
  
        .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          padding: 16px 16px 16px 16px;
          margin-left: 8px;
          margin-right: 8px;
          text-align: center;
          /* margin-left: auto;
          margin-right: auto; */
          min-width: fit-content;
          max-width: 350px;
          /* max-height: 250px;
          min-height: 250px;
          min-width: 325px; */
          height: 100%;
          word-wrap: break-word;
          float: left;
          background-color: tomato;
          border-color: slategray;
          border: 3px;
          object-fit: cover;
          text-overflow: ellipsis;
        }
  
        .card-over-1 {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          padding: 16px 16px 16px 16px;
          margin-block-start: 20px;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          max-width: 650px;
          height: 100%;
          float: auto;
          background-color: tomato;
          object-fit: cover;
        }
  
        /* a {
          text: white;
        } */

        .card-img{
            width: 300px!important;
            height: 350px!important;
            object-fit: cover;
            margin: 0px;
         }

         button {
             width: 350px;
             height: 100%;
             background-color: tomato;
             color: white;
             margin-left: 8px;
             margin-right: 8px;
         }

         .card-wide {
           width: 700ox;
           height: 200px;
           float: right;
         }

    p {
      font-size: 1vw;
      text-align: center;
    }
  
  .header {
    text-align: center;
    color: antiquewhite;
    font-family: Courier;
    font-size: 2vw;
    text-shadow: 2px 2px black;
    
  }
  
  
    h3 {
    font-size: 1vw;
    text-align: center;
    color: white;
  }
    
  a {
    color: white;
    text-shadow: 1px 1px black;
  }
  
  .recipe {
    max-height: 5000px;
    min-height: 500px;
  }

  .commentBox {
    float: right;
    margin-right: 250px;
  }

  .footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 10px;
    background-color: teal;
    
  }